<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/uploadifive.css">
</head>
<body>
<div class="container-fluid">
    <!--1.头部按钮-->
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <button type="button" class="btn btn-primary" id="to-add">添加</button>
            <button type="button" class="btn btn-danger">删除</button>
        </div>
    </div>
    <!-- 2.列表-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td>ID</td>
                    <td>商品类别</td>
                    <td>商品名称</td>
                    <td>商品价格</td>
                    <td>商品图片</td>
                    <td>商品卖点</td>
                    <td>操作</td>
                </tr>
                <tr th:each="product:${pageInfo.list}">
                    <td th:text="${product.id}">1</td>
                    <td th:text="${product.typeName}">手机数码</td>
                    <td th:text="${product.name}">Mate30</td>
                    <td th:text="${product.price}">6999</td>
                    <td>
                        <img style="width: 100px" src="#" th:src="${product.image}">
                    </td>
                    <td th:text="${product.salePoint}">轻薄，极致性能</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm update" th:id="${product.id}">修改</button>
                        <button type="button" class="btn btn-danger btn-sm delete" th:id="${product.id}">>删除</button>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <!-- 3.分页栏-->
    <div class="row">
        <div class="col-md-6">
            当前第<span th:text="${pageInfo.pageNum}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录，
            共<span th:text="${pageInfo.pages}"></span>页
        </div>
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a th:href="|product/page/${pageInfo.pageNum-1}/${pageInfo.pageSize}|" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <!--navigatepageNums是之前设置的分页栏每次显示几页-->
                    <li th:each="num : ${pageInfo.navigatepageNums}" th:class="${num==pageInfo.pageNum?'active':''}">
                        <a th:href="|product/page/${num}/${pageInfo.pageSize}|" th:text="${num}">2</a>
                    </li>
                    <li>
                        <a th:href="|product/page/${pageInfo.pageNum+1}/${pageInfo.pageSize}|" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--添加层-->
    <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加商品</h4>
                </div>
                <div class="modal-body">
                    <!--填充一个表单-->
                    <form class="form-horizontal" id="addForm" action="product/add">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">商品名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="product.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeId" class="col-sm-2 control-label">类别ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="typeId" name="product.typeId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeName" class="col-sm-2 control-label">类别名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="typeName" name="product.typeName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">商品价格</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="price" name="product.price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stock" class="col-sm-2 control-label">库存</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="stock" name="product.stock">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salePrice" class="col-sm-2 control-label">商品折扣价</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="salePrice" name="product.salePrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salePoint" class="col-sm-2 control-label">商品卖点</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="salePoint" name="product.salePoint">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image" class="col-sm-2 control-label">商品图片</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" id="chooseImage" name="file">
                                <!--图片进行回显-->
                                <img src="#" id="showImage" style="width: 100px;height: 100px;display: none">
                                <!--提交的时候传给服务器的地址-->
                                <input id="image" type="hidden" name="product.image"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productDesc" class="col-sm-2 control-label">商品描述</label>
                            <div class="col-sm-10">
                                <!--显示给用户看的-->
                                <div id="editor">
                                    请输入商品的详情介绍
                                </div>
                                <!--提交到后端的数据-->
                                <input type="hidden" id="productDesc" name="productDesc"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/jquery.uploadifive.js"></script>
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#to-add").click(function () {
            $("#addModal").modal({
                backdrop: 'static'
            });
        })

        //添加商品功能
        $("#add").click(function () {
            const content = editor.txt.html();
            //将富文本框的内容赋值给隐藏域
            $("#productDesc").val(content);
            $("#addForm").submit();
        })

        //图片上传按钮，上传文件
        $("#chooseImage").uploadifive({
            'uploadScript': 'file/upload',
            'fileObjName': 'file',
            'onUploadComplete': function (file, data) {  //注意，此时的data是一个字符串而不是json对象
                //将data转为json对象
                const json = JSON.parse(data);
                //设置图片回显
                if (json.statusCode == 200) {
                    $("#showImage").attr("src", json.data).show()
                    //设置提交的图片地址
                    $("#image").val(json.data)
                } else {
                    alert(json.msg)
                }
            }
        })

        //富文本框的加载
        const E = window.wangEditor;
        const editor = new E("#editor");
        //自定义菜单配置
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'fontName',  // 字体
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'emoticon',  // 表情
            'image',  // 插入图片
            'video',  // 插入视频
            'undo',  // 撤销
            'redo'  // 重复
        ];
        //配置服务器端地址
        editor.customConfig.uploadImgServer='/file/multiUpload';
        editor.customConfig.uploadFileName="files";
        editor.create();

    })
</script>
</body>
</html>